html {
  background-color: #fff;
  font-family: Georgia, serif;
  line-height: 1.5;
}

header {
  background-color: #ffe500;
  padding: 1em 0;
}

h1, h2 {
  font-family: Sigmar One, cursive;
  color: #cc1465;
  text-align: center;
}
h1 {
  margin: 0;
}

h2 {
  text-align: left;
}

body {
  margin: 0;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.nav li {
  display: inline-block;
}

.nav a {
  display: inline-block;
  padding: .5em .75em;
  background-color: #b2a212;
  border-radius: 4px;
  text-decoration: none;
  color: white;
}

.nav a:hover {
  background-color: #b20953;
}

.nav .current {
  background-color: #b20953;
}

footer {
    background-color: #ffe500;
    text-align: center;
}
